<header class="header">
  <div class="header-content">
    <button class="hamburger-button" (click)="toggleMenu()">
      <span class="hamburger-bar"></span>
      <span class="hamburger-bar"></span>
      <span class="hamburger-bar"></span>
    </button>

    <nav class="nav" [class.open]="menuOpen">
      <ul class="nav-list">
        <!-- Show for Companies -->
        <li *ngIf="userType === 'company'" class="nav-item">
          <a (click)="openJobFormModal()" class="nav-link">Kreiraj oglas</a>
        </li>
        <li *ngIf="userType === 'company'" class="nav-item">
          <a routerLink="/company" class="nav-link" (click)="closeMenu()">Dashboard Tvrtke</a>
        </li>
        <li *ngIf="userType === 'company'" class="nav-item">
          <a routerLink="/company/about" class="nav-link" (click)="closeMenu()">O proizvodu</a>
        </li>
        <li *ngIf="userType === 'user'" class="nav-item">
          <a routerLink="/user" class="nav-link" (click)="closeMenu()">Korisnički Dashboard</a>
        </li>
        <li *ngIf="userType === 'user'" class="nav-item">
          <a routerLink="/user/cv" class="nav-link" (click)="closeMenu()">Moj životopis</a>
        </li>
      </ul>
      <button class="logout-button" (click)="logout()">Logout</button>
    </nav>
  </div>
</header>
