<div class="about-wrapper">
  <header class="about-header">
    <h1>Studentski CV portal</h1>
    <p>Dobrodošli na naš novi Vern Job portal! Naš cilj je pomoći poslodavcima da napišu efektivne oglase za posao i pronađu prave kandidate među našim studentima.</p>
  </header>

  <main class="about-content">
    <section class="tips-section">
      <h2>Savjeti za Pisanje Oglasa za Posao</h2>
      <ul>
        <li><strong>Jasan naslov oglasa:</strong> Naznačite poziciju i ključne odgovornosti.</li>
        <li><strong>Detaljan opis posla:</strong> Objasnite očekivanja, zadatke i uloge.</li>
        <li><strong>Zahtjevi za kandidata:</strong> Navedite minimalne kvalifikacije, iskustvo i vještine.</li>
        <li><strong>Što nudite:</strong> Opis pogodnosti, plaće i prilika za rast.</li>
        <li><strong>Jasan poziv na akciju:</strong> Objasnite kako kandidati mogu aplicirati.</li>
      </ul>
    </section>

    <section class="promo-video-section">
      <h2>Promotivni Video</h2>
      <p>Pogledajte naš video kako bismo vam pokazali kako kreirati idealan oglas za posao:</p>
      <div class="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LiNvJuW7FnY?si=XdkeAd6jxqkIOGeI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </section>
  </main>
</div>
