/* You can add global styles to this file, and also import other style files */

@import "assets/variables";
@import "assets/mixins";

body {
  font-family: "IBM Plex Mono";
  margin: 0;
}

.modal-backdrop {
  background: rgba($dark-grey, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

/* Modal panel */
.modal-panel {
  background-color: $white;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  box-shadow: 0 4px 10px rgba($dark-grey, 0.3);
}
